body{
    margin: 0;
}
p {
   font-family: 'Open Sans', sans-serif;
}
.header-title {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    padding: 3rem;
}
nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: black;
    margin: -15px 0 0 0;
}
ul {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    background-color: black;
}
a {
    color: gold;
}
li {
    display: inline-block;;
    padding: 1rem;
}
.page-header{
    background: url('./images/nyc-skyline.jpg') no-repeat center;
    background-size: cover;
    color: black;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 70rem;
    height: 40rem;
    margin: 0 auto;
    text-align: center;
}
.home-title {
    font-family: 'Roboto', sans-serif;
    font-size: 7rem;
}
.home-info {
    font-size: 3rem;
}
.profile-pic {
    width: 20rem;
    height: 20rem;
    max-height: 30rem;
    max-width: 30rem;
    margin: 0 auto;
}
.about-info{
    display: flex;
    align-self: center;
}

.project-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-image {
    width: 50rem;
    height: 40rem;
    padding: 3rem;
}
.project-info { 
    padding: 3rem;
}
.project-link {
    color: darkblue;
}