body{
    margin: 0;
}
p {
   font-family: 'Open Sans', sans-serif;
}
.header-title {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    padding: 3rem;
}
.navbar {
    justify-content: right;
    margin: -15px 0 0 0;
}
.page-header{
    background: url('./images/nyc-skyline.jpg') no-repeat center;
    background-size: cover;
    color: black;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 70rem;
    height: 40rem;
    margin: 0 auto;
    text-align: center;
}
.home-title {
    font-family: 'Roboto', sans-serif;
    font-size: 7rem;
}
.home-info {
    font-size: 3rem;
}
.profile-pic {
    width: 20rem;
    height: 20rem;
    max-height: 30rem;
    max-width: 30rem;
    margin: 0 auto;
}
.about-info{
    display: flex;
    align-self: center;
}
